/Esercitazione2-MatematicaPerGrafica/Esercizio4/Debug
/Esercitazione2-MatematicaPerGrafica/Esercizio4/glm
/Esercitazione2-MatematicaPerGrafica/Esercizio4/Esercizio4/Debug
/Esercitazione3/Esercizio1/x64
/Esercitazione3/dependencies
/Esercitazione3/x64
/Esercitazione3.2/Esercizio1/x64
/Esercitazione3.2/dependencies
/Esercitazione3.2/x64
/Esercitazione3.2/.vs